@import url("https://fonts.googleapis.com/css2?family=Peralta&display=swap");

body {
  margin: 0;
  background-color: aliceblue;
  font-family: "Peralta";
}

#mi-canvas {
  background-color: aqua;
}

#start-btn,
#restart-btn {
  background-color: blueviolet;
  color: aqua;
  padding: 30px;
  font-size: 30px;
  margin-top: 45px;
  border-radius: 15;
  font-family: "Peralta";
}

.bloque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#contadores {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 130px;
  height: 20px;
  left: 20px;
}

#contadores span {
  padding: 0px 0px 0px 4px;
}

#mi-canvas,
#pantalla-final,
#pantalla-ganar,
#contadores {
  display: none;
}
