body {
    margin: 0;
    background-color: aliceblue;
}

#mi-canvas {
    background-image: url(/images/fondo.png);
}

#start-btn,
#restart-btn {
    background-color: blueviolet;
    color: aqua;
    padding: 30px;
    font-size: 30px;
    margin-top: 45px;
    border-radius: 15;
    }

.bloque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#mi-canvas,
#pantalla-final {
    display: none;
}